@{
    ViewData["Title"] = "Dex's Youtube List";
}

<h2>Dex's Youtube List</h2>

<p>
    <bold>This the latest vid you watched!</bold>
    <br />
    
    <iframe width="854" height="480" src="https://www.youtube.com/embed/LKzGo6ebxLM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
    </p>